{% block content %}
{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(formEdit, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(formEdit) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(formEdit) }}


    <div id="wrap" class="wrap fullWidth menuStyle1 menuSmartScrollShow bodyStyleFullWide menuStyleFixed visibleMenuDisplay logoImageStyle logoStyleBG" >
        <div id="wrapBox" class="wrapBox">

            <header id="header">
                <div class="menuFixedWrapBlock"></div>
                <div class="menuFixedWrap">
                    <a href="#" class="openMobileMenu"></a>
                    <a href="#" class="openTopMenu"></a>
                    <div class="usermenuArea">
                        <ul class="usermenuList">
                            <li class="usermenuCurrency">
                                <a href="#">$</a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <b>$</b> Dollar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <b>€</b> Euro
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <b>£</b> Pounds
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="usermenuLogin">
                                <a href="#user-popUp" class="user-popup-link">Login</a>
                            </li>
                        </ul>
                    </div>
                    <div class="wrapTopMenu">
                        <div class="topMenu main">
                            <ul id="mainmenu" class="">
                                <li class="menu-item-has-children">
                                    <a href="#">Home</a>
                                    <ul class="sub-menu">
                                        <li class="">
                                            <a href="index_1.html">Home 1</a>
                                        </li>
                                        <li class="">
                                            <a href="index_2.html">Home 2</a>
                                        </li>
                                        <li class="">
                                            <a href="index_3.html">Home 3</a>
                                        </li>
                                        <li class="">
                                            <a href="index_4.html">Home 4</a>
                                        </li>
                                        <li class="">
                                            <a href="index.html">Home 5</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a href="about-us.html">About us</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Features</a>
                                    <ul class="sub-menu">
                                        <li class="">
                                            <a href="features-typography.html">Typography</a>
                                        </li>
                                        <li class="">
                                            <a href="features-shortcodes.html">Shortcodes</a>
                                        </li>
                                        <li class="">
                                            <a href="features-under-construction.html">Under construction</a>
                                        </li>
                                        <li class="">
                                            <a href="features-404.html">Page 404</a>
                                        </li>
                                        <li class="">
                                            <a href="doc/index.html">Documentation</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Portfolio</a>
                                    <ul class="sub-menu">
                                        <li class="">
                                            <a href="portfolio-small.html">Small size</a>
                                        </li>
                                        <li class="">
                                            <a href="portfolio-medium.html">Medium size</a>
                                        </li>
                                        <li class="">
                                            <a href="portfolio-large.html">Large size</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li class="">
                                            <a href="blog-post-format.html">Post formats</a>
                                        </li>
                                        <li class="">
                                            <a href="blog-full-width.html">Full width</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Single Post Layouts ></a>
                                            <ul class="sub-menu">
                                                <li class="">
                                                    <a href="blog-post-with-sidebar.html">Post with sidebar</a>
                                                </li>
                                                <li class="">
                                                    <a href="blog-post-without-sidebar.html">Post without sidebar</a>
                                                </li>
                                                <li class="">
                                                    <a href="blog-review-post.html">Review Post</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a href="shop.html">Shop</a>
                                </li>
                                <li class="current-menu-ancestor">
                                    <a href="contact-us.html">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="logoHeader">
                    <a href="index.html">
                        <img src="images/162x55.png" alt="">
                    </a>
                </div>

            </header>

            <div class="wrapContent">
                <div id="wrapWide" class="wrapWide">
                    <div class="content">
                        <section class="singlePage emptyPostFormatIcon emptyPostTitle emptyPostInfo page">
                            <article class="postContent">
                                <div class="postTextArea">

                                    <section class="section_padding_bottom_50">
                                        <div class="container">
                                            <h3 class="sc_title sc_title_style_3 sc_title_center">Mon Profile</h3>
                                            <article class="blogStreampage odd first emptyPostFormatIcon emptyPostInfo post">

                                                <div class="post Standard">
                                                    <div class="sc_accordion_init sc_toggl sc_toggl_style_1 sc_toggl_icon_show sc_toggl_icon_right" data-active="0">
                                                        <div id="sc_accordion_q1" class="sc_toggl_item odd first">
                                                            <div class="sc_toggl_title">Informations Personnelles</div>
                                                            <div class="sc_toggl_content">
                                                                <div class=" sc_columns  sc_columns_2 sc_columns_indent">
                                                                    <div class="sc_columns_item sc_form_username">
                                                                        <label class="required" for="contact_form_username">Nom</label>
                                                                        <input type="text" name="name" id="contact_form_username">
                                                                    </div>
                                                                    <div class="sc_columns_item sc_form_email">
                                                                        <label class="required" for="contact_form_email">Prénom</label>
                                                                        <input type="text" name="email" id="contact_form_email" placeholder="">
                                                                    </div>
                                                                    <div class="sc_columns_item sc_form_subj">
                                                                        <label class="required" for="contact_form_subj">Sexe</label>

                                                                        <select name="" id="contact_form_subj">
                                                                            <option>Male</option>
                                                                            <option>Femelle</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="sc_accordion_q2" class="sc_toggl_item even">
                                                            <div class="sc_toggl_title">Modifier mon mot de passe</div>
                                                            <div class="sc_toggl_content">
                                                                <label class="required" for="contact_form_email">Ancien Mot de passe</label>
                                                                <input type="text" name="email" id="contact_form_email" placeholder="">
                                                                <label class="required" for="contact_form_email">Nouveau Mot de passe</label>
                                                                <input type="text" name="email" id="contact_form_email" placeholder="">
                                                                <div class="sc_button sc_button_style_3 sc_button_skin_dark sc_button_style_bg sc_button_size_medium">
                                                                    <button type="submit" name="contact_submit" class="contact_form_submit">submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="sc_accordion_q3" class="sc_toggl_item odd">
                                                            <div class="sc_toggl_title">Mon Etat Sanitaire </div>
                                                            <div class="sc_toggl_content">
                                                                <div class=" sc_columns  sc_columns_2 sc_columns_indent">
                                                                    <div class=" sc_columns_item  sc_columns_item_coun_1 odd first">
                                                                        <p></p>
                                                                        <h5>Je souffre de ces maladies:</h5>
                                                                        <form action="/action_page.php">
                                                                            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                                                            <label for="vehicle1"> Corona 1</label><br>
                                                                            <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                                                                            <label for="vehicle2">  Corona 2</label><br>
                                                                            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                                                                            <label for="vehicle3">  Corona 1</label><br><br>
                                                                            <div class="sc_button sc_button_style_3 sc_button_skin_dark sc_button_style_bg sc_button_size_medium">
                                                                                <button type="submit" name="contact_submit" class="contact_form_submit">submit</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    <div class=" sc_columns_item  sc_columns_item_coun_2 even">
                                                                        <p></p>
                                                                        <h5>Je suis allergique à :</h5>
                                                                        <form action="/action_page.php">
                                                                            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                                                            <label for="vehicle1"> I have a bike</label><br>
                                                                            <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                                                                            <label for="vehicle2"> I have a car</label><br>
                                                                            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                                                                            <label for="vehicle3"> I have a boat</label><br><br>
                                                                            <div class="sc_button sc_button_style_3 sc_button_skin_dark sc_button_style_bg sc_button_size_medium">
                                                                                <button type="submit" name="contact_submit" class="contact_form_submit">submit</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </section>






                                </div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>

            <footer class="footerWidget">

                <div class="copyright">
                    <a href='http://themerex.net'>ThemeREX</a>
                    &copy; 2016 All Rights Reserved.Terms of Use and Privacy Policy.
                </div>
                <div class="custom_footer">
                    <div class="text">Join to Healthy Farm</div>
                    <div class="sc_emailer aligncenter margin_top_20">
                        <form class="sc_emailer_form">
                            <input type="text" class="sc_emailer_input" name="email" value="" placeholder="ENTER YOUR EMAIL ADDRESS">
                            <a href="#" class="sc_emailer_button icon icon-mail8" title="Submit" data-group="E-mailer subscription"></a>
                        </form>
                    </div>
                </div>
            </footer>
        </div>

    </div>

    <div class="buttonScrollUp upToScroll icon-up-open-micro"></div>


    <style>

        .email {
            -webkit-font-smoothing: antialiased;
            list-style: none;
            font-family: 'Cantarell', sans-serif;
            transition: all 0.3s ease-out;
            font-size: 16px;
            display: block;
            outline: none;
            color: #888888;
            border-width: 1px;
            border-style: solid;
            border-color: #ddd;
            background-color: #fff;
            margin: 0px;
            width: 100%;
            font-weight: 300;
            box-sizing: border-box;
            padding: 7px 13px;
        }



    </style>

{% endblock %}

