<h2>Hedhi page d'acceuil</h2>
<a href="{{ path('form_plats_rec') }}">recherche avancée </a>
<br>
<a href="{{ path('rechercheSimple') }}">recherche simple </a>
<br>
<a href="#">Créer un compte ou se connecter  </a>
<br>
<a href="#">Qui sommes nous </a>
<br>
<a href="#">contacter nous  </a>
